.header {
  position: fixed;
  width: 100%;
  height: 64px;
  top: 0;
  left: 0;
  background-color: var(--theme-background-default);
  border-bottom: 1px solid var(--theme-border-default);
  z-index: 20;
}

.header a {
  text-decoration: none;
}

.container {
  position: relative;
  width: 100%;
  max-width: 988px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;
}

.search {
  width: 312px;
  padding: 8px 16px;
  gap: 10px;
  display: flex;
  align-items: center;
  background: unset;
  border-radius: 100px;
  border: 1px solid var(--theme-border-default);
}

.search:hover {
  background-color: var(--theme-hover-inverse);
  transition: background-color 0.3s;
}

.search path {
  fill: var(--theme-text-secondary);
}

.search p {
  margin: 0;
  color: var(--theme-text-secondary);
}

@media (max-width: 684px) {
  .header {
    height: 60px;
  }

  .search {
    width: 24px;
    height: 24px;
    padding: 0;
    display: flex;
    align-items: center;
    border: none;
  }

  .search path {
    fill: var(--theme-text-primary);
  }

  .search p {
    display: none;
  }
}