.main {
  margin: 96px auto;
  padding: 0 16px;
  display: grid;
  grid-template-columns: 1fr 240px;
  column-gap: 48px;
  max-width: 1325px;
}

@media (max-width: 1324px) {
  .main {
    display: flex;
    flex-direction: column;
  }
}