$layout-color-border-light: #e6e6e6 !default;
$layout-color-footer-light: #e6e6e6 !default;
$layout-color-background-light: #ffffff !default;
$layout-color-syntax-highlighting-background-light: #f8f9fa !default;
$layout-color-border-dark: #2c2c2c !default;
$layout-color-footer-dark: #232323 !default;
$layout-color-background-dark: #151515 !default;
$layout-color-syntax-highlighting-background-dark: #222222 !default;

@import url("//fonts.googleapis.com/earlyaccess/notosanskr.css");

html {
  font-family: 'Noto Sans KR';
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: $layout-color-background-light;
  font-family: 'Noto Sans KR';
  position: relative;
  min-height: 100%;
  padding-bottom: 100px;
  .header {
    padding-top: 48px;
    font-size: 26px;
    font-weight: bold;
    .content-header {
      margin: 0;
    }
  }
}

header {
  svg {
    margin-left: 2px;
    width: 30px;
  }
}

main {
  padding-bottom: 16px;
}

#nav-header {
  border-bottom: 1px solid $layout-color-border-light !important;
}

#nav-container {
  display: flex;
  justify-self: space-between;
  align-items: center;
  height: 76px;

  a {
    text-decoration-color: #000000;
  }

  h1 {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
  }

  .search-bar {
    display: flex;
    align-items: center;
    background-color: #e6e6e6;
    border-radius: 100px;
    height: 40px;
    width: 312px;
    padding: 0 16px;
    font-size: 16px;

    svg {
      fill: #8a8a8a;
      margin: 0;
    }

    input {
      background-color: transparent;
      height: 100%;
      width: calc(100% - 18px);
      outline: none;
      border: 0;
    }

    &:hover {
      background-color: #cccccc;
      transition: all 0.5s ease-out;
    }
  }
}

#content {
  h1, h2, h3, h4 {
    size: 26px;
    text-align: left;
  }
  
  a {
    color: #000000;
    text-decoration: none;
  }

  .category {
    list-style: none;
    padding: 0px;
    margin: 20px 0;

    li {
      display: inline-block;
      margin-right: 10px;
  
      a.category-link {
        display: block;
        width: 66px;
        height: 40px;
        border: 1px solid #e6e6e6;
        border-radius: 100px;
        background-color: #FFFFFF;
        font-size: 14px;
        line-height: 40px;
        text-align: center;
        color: #000000;
        text-decoration: none;
  
        &.active {
          border: none;
          background-color: #000000;
          color: #FFFFFF;

          &:hover {
            background-color: #000000;
            transition: none;
          }
        }

        &:hover {
          background-color: #f0f0f0;
          transition: all 0.5s ease-out;
        }
      }
    }
  }

  .post-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0px;
    margin: 0px;
    gap: 24px;
  }

  .post {
    width: calc(25% - 18px);

    &:hover {
      .teaser {
        border: 1px solid #cccccc;
        transition: all 0.5s ease-out;
      }

      .title {
        text-decoration: underline;
      }
    }
  }

  .teaser {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 140px;
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    transition: all 0.5s ease-out;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 8px;
    }
  }

  .date {
    color: #666666;
    font-size: 12px;
  }

  .title {
    color: #000000;
    font-size: 18px;

    :hover {
      text-decoration: underline;
    }
  }

  .excerpt {
    p {
      display: inline-block;
      color: #666666;
      font-size: 14px;
      margin: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
      line-height: 1.2;
      max-height: 42px;
      text-align: left;
      word-wrap: break-word;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
}

#navigation {
  .nav-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 28px;
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin: 0;
    gap: 8px;

    .page-item {
      &.disabled {
        .page-link {
          opacity: 0.5;
          pointer-events: none;
        }
      }

      &.active {
        .page-link {
          background-color: #000000;
          border: none;
          color: #ffffff;

          &:hover {
            background-color: #000000;
            color: #ffffff;
          }
        }
      }

      .page-link {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: none;
        color: #000000;
        cursor: pointer;
        font-size: 14px;
        height: 32px;
        width: 32px;
        transition: all 0.5s ease-out;

        &:hover {
          background-color: #f0f0f0;
          color: #000000;
        }
      }
    }
  }
}

#site-footer {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 0;
  bottom: 0;
  background-color: $layout-color-footer-light;
  padding: 1rem 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
  }

  .h5 {
    margin: 0;
    padding: 1.5rem;
    padding-left: 0; 
    color: #909090;
    font-size: 16px;
  }

  a {
    margin-top: 18px;
    margin-left: 16px;
    text-decoration: none;
  }

  svg {
    &.hover {
      fill: #5c5c5c;
      transition: all 0.5s ease-out;
      cursor: pointer;
    }
  } 
}

.highlight pre {
  border: 1px solid $layout-color-border-light;
  border-radius: .25rem;
  background-color: $layout-color-syntax-highlighting-background-light;
  padding: 0.75rem;
  margin-bottom: 1rem;
  white-space: pre-wrap;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: $layout-color-background-dark;

    h1 {
      color: #ffffff;
    }
  }

  #nav-header {
    border-bottom: 1px solid $layout-color-border-dark !important;

    svg {
      fill: #ffffff;
    }

    .search-bar {
      background-color: #2c2c2c;

      svg {
        fill: #808080;
      }

      input {
        color: #ffffff;
      }

      &:hover {
        background-color: #444444;
      }
    }
  }

  #content {
    a {
      color: #ffffff;
    }

    p {
      color: #ffffff;
    }

    .category {
      li{
        a.category-link {
          background-color: #151515;
          color: #ffffff;
          border: 1px solid #2c2c2c;

          &.active {
            border: none;
            background-color: #ffffff;
            color: #000000;
            
            &:hover {
              background-color: #ffffff;
              color: #000000;
            }
          }
          
          &:hover {
            background-color: #232323;
          }
        }
      }
    }

    .post {
      width: calc(25% - 18px);

      &:hover {
        .teaser {
          border: 1px solid #444444;
          transition: all 0.5s ease-out;
        }
      }
    }

    .teaser {
      border: 1px solid #2c2c2c;
    }

    .date {
      color: #a1a1a1;
    }

    .title {
      color: #ffffff;
    }

    .excerpt {
      p {
        color: #737373;
      }
    }
  }

  #navigation {
    nav {
      color: #ffffff;
    }

    .pagination {
      .page-item {
        &.active {
          .page-link {
            background-color: #ffffff;
            border: none;
            color: #000000;

            &:hover {
              background-color: #ffffff;
              color: #000000;
            }
          }
        }
        
        .page-link {
          background-color: #151515;
          border: none;
          color: #ffffff;
          fill: #ffffff;

          &:hover {
            background-color: #232323;
            color: #ffffff;
          }
        }
      }
    }
  }
  
  #site-footer {
    background-color: $layout-color-footer-dark;

    svg {
      fill: #4f4f4f;

      &:hover {
        fill: #7b7b7b;
        transition: all 0.5s ease-out;
        cursor: pointer;
      }
    }
  }

  .highlight pre {
    border: 1px solid $layout-color-border-dark;
    border-radius: .25rem;
    background-color: $layout-color-syntax-highlighting-background-dark;
    padding: 0.75rem;
    margin-bottom: 1rem;
    white-space: pre-wrap;
  }
}
  
@media (max-width: 520px) {
  body {
    .header {
      padding-top: 20px;
    }
  }

  main {
    padding-bottom: 20px;
  }

  #nav-container {
    .search-bar {
      width: 168px;
    }
  }

  #content {
    .post-list {
      display: block;
      padding: 0;
    }

    .post {
      width: 100%;
      height: auto;
      p {
        margin-bottom: 20px;
      }
    }

    .teaser {
      height: 200px;
    }
  }

  #navigation {
    .nav-content {
      padding-top: 20px;
    }
  }

  #site-footer {
    .container {
      display: grid;
      justify-self: right;
      padding-left: 15px;
    }

    .h5 {
      padding: 0px;
      padding-bottom: 10px;
      font-size: 12px;
    }

    a {
      margin: 0px;
      margin-right: 10px;
    }

    svg {
      width: 28px;
    }
  }
}