.highlight {
  color: #49483e;

  &,
  .w {
    color: #49483e;
  }

  .err, .nf {
    color: #272822;
    background-color: #f92672;
  }

  .c, .ch, .cd, .cm, .cpf, .c1, .cs {
    color: #75715e;
  }

  .cp, .nt {
    color: #f4bf75;
  }

  .o, .ow, .p, .pi {
    color: #49483e;
  }

  .gi {
    color: #a6e22e;
  }

  .gd {
    color: #f92672;
  }

  .gh {
    color: #66d9ef;
    background-color: #272822;
    font-weight: bold;
  }

  .k, .kn, .kp, .kr, .kv {
    color: #ae81ff;
  }

  .kc, .kt, .kd {
    color: #fd971f;
  }

  .s, .sb, .sc, .dl, .sd, .s2, .sh, .sx, .s1 {
    color: #a6e22e;
  }

  .sa {
    color: #ae81ff;
  }

  .sr {
    color: #a1efe4;
  }

  .si, .se {
    color: #cc6633;
  }

  .nn, .nc, .no {
    color: #f4bf75;
  }

  .na {
    color: #66d9ef;
  }

  .m, .mb, .mf, .mh, .mi, .il, .mo, .mx {
    color: #a6e22e;
  }

  .ss {
    color: #a6e22e;
  }
}

@media (prefers-color-scheme: dark) {
  .highlight {
    color: #f8f8f2;

    &,
    .w {
      color: #f8f8f2;
    }
  
    .err, .nf {
      color: #272822;
      background-color: #f92672;
    }
  
    .c, .ch, .cd, .cm, .cpf, .c1, .cs {
      color: #75715e;
    }
  
    .cp, .nt {
      color: #f4bf75;
    }
  
    .o, .ow, .p, .pi {
      color: #f8f8f2;
    }
  
    .gi {
      color: #a6e22e;
    }
  
    .gd {
      color: #f92672;
    }
  
    .gh {
      color: #66d9ef;
      background-color: #272822;
      font-weight: bold;
    }
  
    .k, .kn, .kp, .kr, .kv, .kc, .kt, .kd {
      color: #ae81ff;
    }
  
    .s, .sb, .sc, .dl, .sd, .s2, .sh, .sx, .s1, .sa {
      color: #a6e22e;
    }
  
    .sr {
      color: #a1efe4;
    }
  
    .si, .se {
      color: #cc6633;
    }
  
    .nn, .nc, .no {
      color: #f4bf75;
    }
  
    .na {
      color: #66d9ef;
    }
  
    .m, .mb, .mf, .mh, .mi, .il, .mo, .mx, .ss {
      color: #a6e22e;
    }
  }  
}