:root {
  --mode: light;

  /* Title/1 */
  --text-title-1-size: 26px;
  --text-title-1-weight: 700;
  --text-title-1-line-height: 34px;
  /* Title/2 */
  --text-title-2-size: 24px;
  --text-title-2-weight: 700;
  --text-title-2-line-height: 32px;
  /* Title/3 */
  --text-title-3-size: 20px;
  --text-title-3-weight: 700;
  --text-title-3-line-height: 28px;

  /* Body/1 */
  --text-body-1-size: 16px;
  --text-body-1-weight: 400;
  --text-body-1-line-height: 24px;
  /* Body/2 */
  --text-body-2-size: 14px;
  --text-body-2-weight: 400;
  --text-body-2-line-height: 20px;
  /* Body/3 */
  --text-body-3-size: 12px;
  --text-body-3-weight: 400;
  --text-body-3-line-height: 16px;

  /* Body/Bold/1 */
  --text-body-bold-1-size: 16px;
  --text-body-bold-1-weight: 700;
  --text-body-bold-1-line-height: 24px;
  /* Body/Bold/2 */
  --text-body-bold-2-size: 14px;
  --text-body-bold-2-weight: 700;
  --text-body-bold-2-line-height: 20px;
  /* Body/Bold/3 */
  --text-body-bold-3-size: 12px;
  --text-body-bold-3-weight: 700;
  --text-body-bold-3-line-height: 16px;

  /* Paragraph/1 */
  --text-paragraph-1-size: 16px;
  --text-paragraph-1-weight: 400;
  --text-paragraph-1-line-height: 24px;
  /* Paragraph/2 */
  --text-paragraph-2-size: 14px;
  --text-paragraph-2-weight: 400;
  --text-paragraph-2-line-height: 20px;

  /* Base */
  --color-base-black: #151515;
  --color-base-white: #FFFFFF;

  /* Red */
  --color-red-100: #FFEEED;
  --color-red-200: #FEDFDD;
  --color-red-300: #FECAC8;
  --color-red-400: #FEB6B4;
  --color-red-500: #FEA1A0;
  --color-red-600: #FE8D8B;
  --color-red-700: #FD7877;
  --color-red-800: #FD6463;
  --color-red-900: #FC4F4F;

  /* Orange */
  --color-orange-100: #FFF5EB;
  --color-orange-200: #FFE8D6;
  --color-orange-300: #FFDEC1;
  --color-orange-400: #FFD3AC;
  --color-orange-500: #FFC997;
  --color-orange-600: #FFBE82;
  --color-orange-700: #FFB46D;
  --color-orange-800: #FFA958;
  --color-orange-900: #FF9F43;

  /* Green */
  --color-green-100: #EDFBEF;
  --color-green-200: #D8F6DF;
  --color-green-300: #C4F2CF;
  --color-green-400: #AFEDBF;
  --color-green-500: #9BE9B0;
  --color-green-600: #87E5A0;
  --color-green-700: #72E090;
  --color-green-800: #5EDC80;
  --color-green-900: #4AD871;

  /* Cyan */
  --color-cyan-100: #E0F7FA;
  --color-cyan-200: #C4ECF3;
  --color-cyan-300: #A8E2EC;
  --color-cyan-400: #8CD8E5;
  --color-cyan-500: #70CEDE;
  --color-cyan-600: #54C3D7;
  --color-cyan-700: #38B9D0;
  --color-cyan-800: #1CAFC9;
  --color-cyan-900: #00A5C2;

  /* Blue */
  --color-blue-100: #EFF5FF;
  --color-blue-200: #DDEBFF;
  --color-blue-300: #CAE0FF;
  --color-blue-400: #B8D4FF;
  --color-blue-500: #A5C9FF;
  --color-blue-600: #92BDFF;
  --color-blue-700: #7FB2FF;
  --color-blue-800: #6CA6FF;
  --color-blue-900: #599BFF;

  /* Purple */
  --color-purple-100: #F6F0FF;
  --color-purple-200: #EEE0FF;
  --color-purple-300: #E2CCFF;
  --color-purple-400: #D7B8FF;
  --color-purple-500: #CBA3FF;
  --color-purple-600: #C08FFF;
  --color-purple-700: #B47AFF;
  --color-purple-800: #A966FF;
  --color-purple-900: #9747FF;

  /* Gray */
  --color-gray-100: #E8E8E8;
  --color-gray-200: #D4D4D4;
  --color-gray-300: #BFBFBF;
  --color-gray-400: #A8A8A8;
  --color-gray-500: #919191;
  --color-gray-600: #777777;
  --color-gray-700: #5C5C5C;
  --color-gray-800: #383838;
  --color-gray-900: #1A1A1A;

  /* Background */
  --theme-background-default: var(--color-base-white);
  --theme-background-subtle: var(--color-gray-200);
  --theme-background-inverse: var(--color-base-black);

  /* hover */
  --theme-hover-default: var(--color-gray-700);
  --theme-hover-inverse: var(--color-gray-100);
  
  /* Text */
  --theme-text-primary: var(--color-base-black);
  --theme-text-secondary: var(--color-gray-500);
  --theme-text-tertiary: var(--color-gray-300);
  --theme-text-disabled: var(--color-gray-500);
  --theme-text-inverse: var(--color-base-white);

  /* Border */
  --theme-border-default: var(--color-gray-100);
  --theme-border-subtle: var(--color-gray-200);
  --theme-border-strong: var(--color-gray-700);

  /* Accent */
  --theme-accent-primary: var(--color-purple-900);
  --theme-accent-primarysoft: var(--color-purple-700);
  --theme-accent-error: var(--color-red-900);
  --theme-accent-warning: var(--color-orange-900);
  --theme-accent-success: var(--color-green-900);
  --theme-accent-info: var(--color-blue-900);
}

@media (prefers-color-scheme: dark) {
  :root {
    --mode: dark;

    /* Background */
    --theme-background-default: var(--color-base-black);
    --theme-background-subtle: var(--color-gray-800);
    --theme-background-inverse: var(--color-base-white);

    /* hover */
    --theme-hover-default: var(--color-gray-200);
    --theme-hover-inverse: var(--color-gray-900);

    /* Text */
    --theme-text-primary: var(--color-base-white);
    --theme-text-secondary: var(--color-gray-400);
    --theme-text-tertiary: var(--color-gray-700);
    --theme-text-disabled: var(--color-gray-500);
    --theme-text-inverse: var(--color-base-black);

    /* Border */
    --theme-border-default: var(--color-gray-800);
    --theme-border-subtle: var(--color-gray-400);
    --theme-border-strong: var(--color-gray-900);

    /* Accent */
    --theme-accent-primary: var(--color-purple-700);
    --theme-accent-primarysoft: var(--color-purple-500);
    --theme-accent-error: var(--color-red-300);
    --theme-accent-warning: var(--color-orange-300);
    --theme-accent-success: var(--color-green-300);
    --theme-accent-info: var(--color-blue-300);
  }
}

@media (max-width: 684px) {
  :root {
    /* Title/1 */
    --text-title-1-size: 24px;
    --text-title-1-weight: 700;
    --text-title-1-line-height: 32px;
    /* Title/2 */
    --text-title-2-size: 22px;
    --text-title-2-weight: 700;
    --text-title-2-line-height: 30px;
    /* Title/3 */
    --text-title-3-size: 20px;
    --text-title-3-weight: 700;
    --text-title-3-line-height: 28px;

    /* Body/1 */
    --text-body-1-size: 14px;
    --text-body-1-weight: 400;
    --text-body-1-line-height: 20px;
    /* Body/2 */
    --text-body-2-size: 12px;
    --text-body-2-weight: 400;
    --text-body-2-line-height: 16px;
    /* Body/3 */
    --text-body-3-size: 10px;
    --text-body-3-weight: 400;
    --text-body-3-line-height: 14px;

    /* Body/Bold/1 */
    --text-body-bold-1-size: 14px;
    --text-body-bold-1-weight: 700;
    --text-body-bold-1-line-height: 20px;
    /* Body/Bold/2 */
    --text-body-bold-2-size: 12px;
    --text-body-bold-2-weight: 700;
    --text-body-bold-2-line-height: 16px;
    /* Body/Bold/3 */
    --text-body-bold-3-size: 10px;
    --text-body-bold-3-weight: 700;
    --text-body-bold-3-line-height: 14px;

    /* Paragraph/1 */
    --text-paragraph-1-size: 14px;
    --text-paragraph-1-weight: 400;
    --text-paragraph-1-line-height: 20px;
    /* Paragraph/2 */
    --text-paragraph-2-size: 12px;
    --text-paragraph-2-weight: 400;
    --text-paragraph-2-line-height: 16px;
  }
}
  
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-pretendard), -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  scrollbar-gutter: stable;
}

html:has(dialog[open]),
body:has(dialog[open]) {
  overflow: hidden;
}

body {
  color: var(--theme-text-primary);
  background: var(--theme-background-default);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}