:root {
  --mode: light;

  /* Title/1 */
  --text-title-1-size: 24px;
  --text-title-1-weight: 700;
  --text-title-1-line-height: 32px;
  /* Title/2 */
  --text-title-2-size: 20px;
  --text-title-2-weight: 700;
  --text-title-2-line-height: 28px;

  /* Body/1 */
  --text-body-1-size: 16px;
  --text-body-1-weight: 400;
  --text-body-1-line-height: 24px;
  /* Body/2 */
  --text-body-2-size: 14px;
  --text-body-2-weight: 400;
  --text-body-2-line-height: 20px;

  /* Body/Bold/1 */
  --text-body-bold-1-size: 16px;
  --text-body-bold-1-weight: 700;
  --text-body-bold-1-line-height: 24px;
  /* Body/Bold/2 */
  --text-body-bold-2-size: 14px;
  --text-body-bold-2-weight: 700;
  --text-body-bold-2-line-height: 20px;

  /* Paragraph/1 */
  --text-paragraph-1-size: 16px;
  --text-paragraph-1-weight: 400;
  --text-paragraph-1-line-height: 24px;
  /* Paragraph/2 */
  --text-paragraph-2-size: 14px;
  --text-paragraph-2-weight: 400;
  --text-paragraph-2-line-height: 20px;

  --color-common-white: 255, 255, 255;
  --color-common-black: 21, 21, 21;
  --color-common-gray: 136, 136, 136;

  --color-light-red: 252, 79, 79;
  --color-light-orange: 255, 159, 67;
  --color-light-yellow: 255, 191, 68;
  --color-light-green: 74, 216, 113;
  --color-light-blue: 60, 137, 255;
  --color-light-purple: 151, 71, 255;
  --color-light-pink: 255, 105, 180;

  --color-dark-red: 255, 89, 89;
  --color-dark-orange: 255, 169, 77;
  --color-dark-yellow: 255, 201, 78;
  --color-dark-green: 64, 226, 123;
  --color-dark-blue: 70, 147, 255;
  --color-dark-purple: 121, 17, 224;
  --color-dark-pink: 255, 115, 190;

  --primary-color: rgb(var(--color-light-purple), 1);
  --background-color: rgb(var(--color-common-white), 1);
  --text-color: rgba(var(--color-common-black), 1);
  --text-secondary-color: rgba(var(--color-common-black), 0.4);
  --border-color: rgba(var(--color-common-black), 0.1);
  --shadow-color: rgba(var(--color-common-white), 0.3);
  --error-color: rgb(var(--color-light-red), 1);
  --warning-color: rgb(var(--color-light-orange), 1);
  --success-color: rgb(var(--color-light-green), 1);
  --info-color: rgb(var(--color-light-blue), 1);

  font-family: var(--font);
  font-size: 14px;
  background-color: var(--background-color);
  color: var(--text-color);
  color-scheme: var(--mode);
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
  word-break: keep-all;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --mode: dark;

    --primary-color: rgb(var(--color-dark-purple), 1);
    --background-color: rgb(var(--color-common-black), 1);
    --text-color: rgba(var(--color-common-white), 1);
    --text-secondary-color: rgba(var(--color-common-white), 0.4);
    --border-color: rgba(var(--color-common-white), 0.1);
    --shadow-color: rgba(var(--color-common-black), 0.3);
    --error-color: rgb(var(--color-dark-red), 1);
    --warning-color: rgb(var(--color-dark-orange), 1);
    --success-color: rgb(var(--color-dark-green), 1);
    --info-color: rgb(var(--color-dark-blue), 1);
  }
}

@media (max-width: 684px) {
  :root {
    /* Title/1 */
    --text-title-1-size: 20px;
    --text-title-1-weight: 700;
    --text-title-1-line-height: 28px;
    /* Title/2 */
    --text-title-2-size: 18px;
    --text-title-2-weight: 700;
    --text-title-2-line-height: 26px;

    /* Body/1 */
    --text-body-1-size: 14px;
    --text-body-1-weight: 400;
    --text-body-1-line-height: 20px;
    /* Body/2 */
    --text-body-2-size: 12px;
    --text-body-2-weight: 400;
    --text-body-2-line-height: 16px;

    /* Body/Bold/1 */
    --text-body-bold-1-size: 14px;
    --text-body-bold-1-weight: 700;
    --text-body-bold-1-line-height: 20px;
    /* Body/Bold/2 */
    --text-body-bold-2-size: 12px;
    --text-body-bold-2-weight: 700;
    --text-body-bold-2-line-height: 16px;

    /* Paragraph/1 */
    --text-paragraph-1-size: 14px;
    --text-paragraph-1-weight: 400;
    --text-paragraph-1-line-height: 20px;
    /* Paragraph/2 */
    --text-paragraph-2-size: 12px;
    --text-paragraph-2-weight: 400;
    --text-paragraph-2-line-height: 16px;
  }
}
  
input, button, select {
  font-family: var(--font);
  box-sizing: border-box;
}
  
input:focus-visible, button:focus-visible, select:focus-visible {
  outline: 1px dashed var(--text-color-light);
  outline-offset: 4px;
}
  
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

main {
  margin: 0 auto;
  max-width: 972px;
  width: 100%;
  min-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 112px 16px 16px;
}

@media (min-width: 972px) {
  main {
    display: grid;
    grid-template-columns: 1fr 240px;
    column-gap: 48px;
  }
}
  
#root, #_next {
  overflow: hidden;
  height: 100%;
}