.main {
  margin: 96px auto;
  padding: 0 16px;
  display: grid;
  grid-template-columns: 1fr 240px;
  column-gap: 48px;
  max-width: 1325px;
}

.article {
  max-width: 990px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 64px;
  word-break: keep-all;
}

.title {
  font-size: var(--text-title-1-size);
  font-weight: var(--text-title-1-weight);
  line-height: var(--text-title-1-line-height);
}

.teaser {
  width: 100%;
  height: auto;
}

.content {
  display: grid;
  grid-template-columns: 100px 1fr;
  column-gap: 28px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.profile {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.name {
  font-size: var(--text-body-bold-1-size);
  font-weight: var(--text-body-bold-1-weight);
  line-height: var(--text-body-bold-1-line-height);
}

.date,
.category {
  font-size: var(--text-body-2-size);
  font-weight: var(--text-body-2-weight);
  line-height: var(--text-body-2-line-height);
  color: var(--theme-text-secondary);
  word-break: keep-all;
}

.post {
  max-width: 870px;
  width: 100%;
  color: var(--theme-text-primary);
}

.post pre {
  padding: 20px 0;
  border-radius: 12px;
  margin: 16px 0;
  overflow-x: auto;
  border: 1px solid var(--theme-border-default);
  scrollbar-width: none;
}

.post pre::-webkit-scrollbar {
  display: none;
}

.post pre span[data-line] {
  display: inline-block;
  padding: 0 20px;
  font-size: var(--text-body-2-size);
  font-weight: var(--text-body-2-weight);
  line-height: var(--text-body-2-line-height);
}

.post code[data-theme*=" "],
.post code[data-theme*=" "] span {
  color: var(--shiki-light);
}

@media (max-width: 1324px) {
  .main {
    display: flex;
    flex-direction: column;
  }

  .info {
    flex-direction: row;
    align-items: center;
    gap: 12px;
  }

  .profile {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
  }

  .content {
    display: flex;
    flex-direction: column-reverse;
    gap: 32px;
  }

  .post {
    max-width: 100%;
  }
}

@media (prefers-color-scheme: dark) {
  .post code[data-theme*=" "],
  .post code[data-theme*=" "] span {
    color: var(--shiki-dark);
  }
}