.footer {
  position: fixed;
  right: calc((100vw - 972px) / 2 + 8px);
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 240px;
  margin: 0 auto;
  gap: 32px;
}

.copyright {
  color: var(--theme-text-secondary);
  font-size: var(--text-body-2-size);
  font-weight: var(--text-body-2-weight);
  line-height: var(--text-body-2-line-height);
}

.menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.ad {
  width: 160px;
  height: 600px;
  background-color: var(--theme-background-subtle);
}

@media (max-width: 987px) {
  .footer {
    position: static;
    padding-top: 16px;
  }

  .menu {
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

  .ad {
    width: 320px;
    height: 50px;
  }
}