.footer {
  display: block;
  width: 100%;
  max-width: 652px;
  margin: 0 auto;
}

.copyright {
  color: var(--theme-text-secondary);
}

.menu {
  margin: 48px 0 16px 0;
  padding: 16px 0 16px;
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.ad {
  width: 100%;
  height: 563px;
  background-color: var(--theme-background-subtle);
  margin-bottom: 32px;
}

@media (max-width: 972px) {
  .ad {
    display: none;
  }
}