.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.search {
  width: 100%;
  color: var(--theme-text-primary);
  font-size: var(--text-title-1-size);
  font-weight: var(--text-title-1-weight);
  line-height: var(--text-title-1-line-height);
  border: 0;
  background: unset;
}

.search:focus {
  outline: none;
}

.categories {
  width: 100%;
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 8px;
  align-self: stretch;
  flex-wrap: wrap;
  user-select: none;
}

.articles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 16px;
  column-gap: 20px;
}

@media (max-width: 684px) {
  .articles {
      grid-template-columns: 1fr;
  }
}

.article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.article img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 8px;
}

.article a {
  text-decoration: none;
  color: inherit;
}

.article a:hover {
  padding: 8px;
  margin: -8px;
  border-radius: 16px;
  background-color: var(--theme-hover-inverse);
  transition: background-color 0.3s;
}

.article p,
.article h1 {
  margin: 0;
}

.category {
  font-size: var(--text-body-3-size);
  font-weight: var(--text-body-3-weight);
  line-height: var(--text-body-3-line-height);
  padding-bottom: 4px;
}

.title {
  font-size: var(--text-body-bold-1-size);
  font-weight: var(--text-body-bold-1-weight);
  line-height: var(--text-body-bold-1-line-height);
  padding-bottom: 4px;
}

.description {
  height: calc(var(--text-body-2-line-height) * 2);
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 2;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: var(--text-body-2-size);
  font-weight: var(--text-body-2-weight);
  line-height: var(--text-body-2-line-height);
  color: var(--theme-text-secondary);
}