.main {
  width: 100%;
}

.search {
  font-size: 2rem;
  font-weight: bold;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  width: 100%;
  display: flex;
  border: 0;
  padding: 0;
  background: unset;
}

.search:focus {
  outline: none;
}

.categories {
  width: 100%;
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 8px;
  align-self: stretch;
  flex-wrap: wrap;
  user-select: none;
}

.categories button {
  padding: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border-color);
  border-radius: 100px;
  color: var(--text-color);
  background-color: var(--background-color);
}

.categories button:hover {
  background-color: var(--border-color);
}

.main .selected {
  color: var(--background-color);
  background-color: var(--text-color);
}

.main .selected:hover {
  color: var(--background-color);
  background-color: var(--text-color);
}

.articles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  padding-top: 16px;
}

@media (max-width: 684px) {
  .articles {
      grid-template-columns: 1fr;
  }
}

.article {
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.article img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 8px;
}

.article a {
  text-decoration: none;
  color: inherit;
}

.article a:hover .post-title {
  text-decoration: underline;
}

.article p,
.article h1 {
  margin: 0;
}

.category {
  font-size: 12px;
  line-height: 18px;
  padding-bottom: 4px;
}

.title {
  font-size: 18px;
  line-height: 26px;
  padding-bottom: 4px;
}

.description {
  font-size: 14px;
  line-height: 20px;
  color: var(--text-secondary-color);
}