---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "ko" }}">
  
  <head>
    <meta name="title" content="d3h1 Blog">
    <meta name="description" content="새로운 것을 즐기고, 변화를 만들고">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://blog.d3h1.com/">
    <meta property="og:title" content="d3h1 Blog">
    <meta property="og:description" content="새로운 것을 즐기고, 변화를 만들고">
    <meta property="og:image" content="{{ "/assets/opengraph.png" | relative_url }}">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://blog.d3h1.com/">
    <meta property="twitter:title" content="d3h1 Blog">
    <meta property="twitter:description" content="새로운 것을 즐기고, 변화를 만들고">
    <meta property="twitter:image" content="{{ "/assets/opengraph.png" | relative_url }}">
  </head>

  {% include head.html %}

  <body>

    {% include header.html %}

    <main aria-label="Content">
      <div class="container">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

  </body>

</html>
