---
layout: default
---

<header class="header">
  {{ content }}
</header>

<div id="content">
  <ul class="category">
    <li>
      <a class="category-link {% if page.url == "/" %} active{% endif %}" href="{{ site.baseurl }}/">
        메인
      </a>
    </li>
    {% assign pages_list = site.pages %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "category" %}
          <li>
            <a class="category-link {% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}{{ node.url }}">
              {{ node.title }}
            </a>
          </li>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>

  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}

  <ul class="post-list">
    {% assign date_format = site.minima_reboot.date_format | default: "%b %-d, %Y" %}
    {% for post in posts %}
      <a href="{{ post.url | relative_url }}" class="post">
        <div class="teaser">
          <img src="{{ post.teaser }}" alt="{{ post.title }} teaser image"/>
        </div>

        <span class="date">
          {{ post.date | date: date_format }}
        </span>

        <h1 class="title">
          {{ post.title | escape }}
        </h1>

        <div class="excerpt">
          {{ post.excerpt }}
        </div>
      </a>
    {% endfor %}
  </ul>

</div>

<div id="navigation">

  <nav class="nav-content">
    <ul class="pagination align-items-center">
      {% if paginator.previous_page %}
        {% assign prev_url = paginator.previous_page_path | relative_url %}
      {% else %}
        {% assign prev_url = "#" %}
      {% endif %}
    
      <li class="page-item {% unless paginator.previous_page %}disabled{% endunless %}">
        <a class="page-link btn-box-shadow" href="{{ prev_url }}" aria-label="previous-page">
          <svg width="6" height="10" viewBox="0 0 6 10" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M5.53033 9.53033C5.82322 9.23744 5.82322 8.76256 5.53033 8.46967L2.06066 5L5.53033 1.53033C5.82322 1.23744 5.82322 0.762563 5.53033 0.469669C5.23744 0.176777 4.76256 0.176777 4.46967 0.469669L0.46967 4.46967C0.176777 4.76256 0.176777 5.23744 0.46967 5.53033L4.46967 9.53033C4.76256 9.82322 5.23744 9.82322 5.53033 9.53033Z"/>
          </svg>        
        </a>
      </li>
    
      {% assign left_ellipsis = false %}
      {% assign right_ellipsis = false %}
    
      {% for i in (1..paginator.total_pages) %}
    
        {% assign pre = paginator.page | minus: 1 %}
        {% assign next = paginator.page | plus: 1 %}
        {% assign pre_less = pre | minus: 1 %}
        {% assign next_more = next | plus: 1 %}
        {% assign show = false %}
    
        {% if paginator.page == 1 %}
          {% if i <= 3 or i == paginator.total_pages %}
            {% assign show = true %}
          {% endif %}
        {% elsif paginator.page == paginator.total_pages %}
          {% if i == 1 or i >= pre_less %}
            {% assign show = true %}
          {% endif %}
        {% else %}
          {% if i == 1 or i == paginator.total_pages%}
            {% assign show = true %}
          {% elsif i >= pre and i <= next %}
            {% assign show = true %}
          {% endif %}
        {% endif %}
    
        {% if show %}
          <li class="page-item {% if i == paginator.page %} active{% endif %}">
            <a class="page-link btn-box-shadow" href="{% if i > 1 %}{{ site.paginate_path | replace: ':num', i | relative_url }}{% else %}{{ '/' | relative_url }}{% endif %}">{{ i }}</a>
          </li>
        {% else %}
          {% if i < pre and left_ellipsis == false %}
            <li class="page-item disabled">
              <span class="page-link btn-box-shadow">...</span>
            </li>
            {% assign left_ellipsis = true %}
          {% elsif i > next and right_ellipsis == false %}
            <li class="page-item disabled">
              <span class="page-link btn-box-shadow">...</span>
            </li>
            {% assign right_ellipsis = true %}
          {% endif %}
        {% endif %}
          
      {% endfor %}
          
      {% if paginator.next_page_path %}
        {% assign next_url = paginator.next_page_path | relative_url %}
      {% else %}
        {% assign next_url = "#" %}
      {% endif %}
          
      <li class="page-item {% unless paginator.next_page_path %}disabled{% endunless %}">
        <a class="page-link btn-box-shadow" href="{{ next_url }}" aria-label="next-page">
          <svg width="6" height="10" viewBox="0 0 6 10" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M0.46967 0.46967C0.176776 0.762564 0.176776 1.23744 0.46967 1.53033L3.93934 5L0.46967 8.46967C0.176776 8.76256 0.176776 9.23744 0.46967 9.53033C0.762563 9.82322 1.23744 9.82322 1.53033 9.53033L5.53033 5.53033C5.82322 5.23744 5.82322 4.76256 5.53033 4.46967L1.53033 0.46967C1.23744 0.176777 0.762563 0.176777 0.46967 0.46967Z"/>
          </svg>
        </a>
      </li>
    </ul>
  </nav>

</div>