---
layout: default
---
<header class="header">
  {{ content }}
</header>

<div id="content">
  
  <ul class="category">
    <li>
      <a class="category-link {% if page.url == "/" or page.url contains "page" %} active{% endif %}" href="{{ site.baseurl }}/">
        메인
      </a>
    </li>
    {% assign pages_list = site.pages %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "category" %}
          <li>
            <a class="category-link {% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}{{ node.url }}">
              {{ node.title }}
            </a>
          </li>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>

  <ul class="post-list">
    {% assign date_format = site.minima_reboot.date_format | default: "%b %-d, %Y" %}
    {% for post in site.posts %}
      <a href="{{ post.url | relative_url }}" class="post">
        <div class="teaser">
          <img src="{{ post.teaser }}" alt="{{ post.title }} teaser image"/>
        </div>

        <span class="date">
          {{ post.date | date: date_format }}
        </span>

        <h1 class="title">
          {{ post.title | escape }}
        </h1>

        <div class="description">
          <p>
            {{ post.description }}
          </p>
        </div>
      </a>
    {% endfor %}
  </ul>

</div>